---
import SearchIcon from "../icons/Search.astro";
import products from "../data/products.json";
import staticPages from "../data/staticPages.json";
import ShoppingCart from "../icons/ShoppingCart.astro";

// Extrae categorías únicas
const uniqueCategories = Array.from(
  new Set(products.map((product) => product.category))
);
let isMenuOpen = false;


---

<style>
  #sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 15px;
    text-align: center;
    background: #ffffff;
    z-index: 9999;
    transition: all 300ms ease-in-out;
  }

  .scroll-down {
    header {
      transform: translate3d(0, -100%, 0);
    }
  }

  .scroll-up {
    header {
      filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
    }
  }

  #search-input {
  
  transition: width 0.3s;
}



#search-results {
  display: none; /* Por defecto está oculto */
}

.search-result-item {
  padding: 10px;
  cursor: pointer;
}

.search-result-item:hover {
  background-color: #f0f0f0;
}
</style>
<nav
  class="fixed top-0 z-50 w-full border-gray-200 dark:bg-gray-800 dark:border-gray-700 contents"
>
  <div id="sticky" class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start rtl:justify-end">
        <button
          data-drawer-target="logo-sidebar"
          data-drawer-toggle="logo-sidebar"
          aria-controls="logo-sidebar"
          type="button"
          class="inline-flex items-center p-2 text-sm text-black rounded-lg hover:bg-purple-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        >
          <span class="sr-only">Abrir menú</span>
          <svg
            class="w-6 h-6"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              clip-rule="evenodd"
              fill-rule="evenodd"
              d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
            ></path>
          </svg>
        </button>
      </div>
      <a href="/" class="flex ms-2">
        <img
          src="/img/veva-logo-black.png"
          class="h-6 me-3"
          alt="Veva Underwear"
        />
      </a>
      <div class="flex items-center">
        <div class="flex items-center ms-3">
          <!-- <div>
            <button
              type="button"
              onclick="document.getElementById('search-input').focus()"
              class="flex text-sm rounded-full focus:ring-4"
              aria-expanded="false"
              data-dropdown-toggle="dropdown-user"
            >
              <span class="sr-only">Abrir buscador</span>
              <SearchIcon />
            </button>
          </div>
          <div>
          <button
      id="cart-icon"
      class="flex text-sm rounded-full focus:ring-4"
      aria-label="Carrito"
    >
      
      <ShoppingCart />
    </button>
          </div>
          <div
            class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded dark:bg-gray-700 dark:divide-gray-600 w-full"
            id="dropdown-user"
          >
            <div class="px-4 py-3" role="none">
              <input
                type="text"
                name="search-input"
                id="search-input"
                autocomplete="search"
                class="block w-10/12 mx-auto px-3 py-2 text-sm border rounded-md focus:outline-none focus:ring-2 focus:ring-purple-500"
                placeholder="Buscar..."
              />
            </div>
          </div>
          <div id="search-results" class="absolute left-0 w-full mt-1 bg-white border border-gray-300 rounded-md shadow-lg max-h-60 overflow-y-auto z-50 hidden">
  </div> -->
        </div>
      </div>
    </div>
  </div>
</nav>


<!-- <div id="cart-modal" class="hidden fixed inset-0 bg-black bg-opacity-50 z-50 flex justify-center items-center">
  <div class="bg-white p-6 rounded-lg shadow-lg w-96">
    <h2 class="text-xl font-bold mb-4">Tu carrito</h2>
    <div id="cart-items" class="space-y-4">
     
    </div>
    <a
      id="checkout-button"
      class="bg-lilac text-white py-2 px-4 rounded-lg mt-4 hover:bg-pink-500"
    
     href="/checkout">

      Finalizar compra
    </>
    </a>
    <button
      id="close-cart"
      class="text-gray-500 mt-4 hover:underline"
    >
      Cerrar
    </button>
  </div>
</div> -->

<aside
  id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 min-[3000px]:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
  aria-label="Sidebar"
>
  <div class="h-full px-4 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
    <ul class="font-medium">
      <hr />
      {
        uniqueCategories.map((category) => (
          <li class="py-4">
            <a
              href={`/${category.toLowerCase()}`}
              class=" text-gray-600 text-bold hover:text-purple-300 font-medium hover:scale-50"
            >
              {category.charAt(0).toUpperCase() + category.slice(1)}
            </a>
          </li>
            <hr />
        ))
      }
      {staticPages.map((page) => (
        <li class="py-4">
        <a href={`/${page.slug}`} class=" text-gray-600 text-bold hover:text-purple-300 font-medium hover:scale-50">{page.title} </a>
      </li>
        <hr/>
    ))}
      <!-- <li>
        <button
          type="button"
          class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
          aria-controls="dropdown-example"
          data-collapse-toggle="dropdown-example"
        >
          <img
            src="/img/gift.png"
            class="h-8 me-3"
            alt="Ícono bombacha de encaje"
          />
          <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap"
            >Packs</span
          >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 4 4 4-4"></path>
          </svg>
        </button>
        <ul id="dropdown-example" class="hidden py-2 space-y-2">
          <li>
            <a
              href="#"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
              >Bombachas</a
            >
          </li>
          <li>
            <a
              href="#"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
              >Corpiños y Tops</a
            >
          </li>
          <li>
            <a
              href="#"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
              >Conjuntos</a
            >
          </li>
          <li>
            <a
              href="#"
              class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
              >Infantil</a
            >
          </li>
        </ul>
      </li> -->
    </ul>
  </div>
</aside>

<script>

  document.addEventListener("DOMContentLoaded", () => {
    const cart = JSON.parse(localStorage.getItem("cart")) || [];
    const cartCount = document.getElementById("cart-count");
    const totalCount = cart.reduce((total, item) => total + item.quantity, 0);

    if (cartCount) {
      cartCount.textContent = totalCount;
      cartCount.style.display = totalCount > 0 ? "inline" : "none";
    console.log(cart);

    }

    console.log(cart);
    
  });

   document.addEventListener("DOMContentLoaded", () => {
    const cartIcon = document.getElementById("cart-icon");
    const cartModal = document.getElementById("cart-modal");
    const closeCartButton = document.getElementById("close-cart");
    const cartItemsContainer = document.getElementById("cart-items");

    cartIcon.addEventListener("click", () => {
      updateCartModal();
      cartModal.classList.remove("hidden");
    });

    closeCartButton.addEventListener("click", () => {
      cartModal.classList.add("hidden");
    });

    function updateCartModal() {
      const cart = JSON.parse(localStorage.getItem("cart")) || [];
      cartItemsContainer.innerHTML = cart.length
        ? cart
            .map(
              (item) => `
            <div class="flex justify-between items-center">
              <span>${item.name} x${item.quantity}</span>
              <span>$${item.price * item.quantity}</span>
            </div>
          `
            )
            .join("")
        : "<p>Tu carrito está vacío</p>";
    }
  });







  const body = document.body;
  let lastScroll = 0;

  window.addEventListener("scroll", () => {
    const currentScroll = window.pageYOffset;
    if (currentScroll <= 0) {
      body.classList.remove("scroll-up");
      return;
    }

    if (currentScroll > lastScroll && !body.classList.contains("scroll-down")) {
      body.classList.remove("scroll-up");
      body.classList.add("scroll-down");
    } else if (
      currentScroll < lastScroll &&
      body.classList.contains("scroll-down")
    ) {
      body.classList.remove("scroll-down");
      body.classList.add("scroll-up");
    }
    lastScroll = currentScroll;
  });

</script>
